<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<div class="row">
    <div class="section col-md-6">
        <h2>We are a technology-driven <br>digital media entity</h2>
        <p>Our journey into the digital media space started in 2000. We built many enduring partnerships with global
            media giants, television networks, consumer and corporate brands and launched many pioneering digital media
            products.</p>

        <p>To list a few:</p>
        <ul>
            <li>Produced and managed editorial operations for global digital media networks like MSN and Yahoo</li>
            <li>Created content and branding solutions for marquee names like Amazon, Microsoft, Infosys, Wipro,
                Accenture etc </li>
            <li>Launched the country’s first OTT platform – iSTream.com</li>
            <li>Became one of the largest partners for YouTube in India launching channels like Star Plus, Colors, MTV,
                Times Now etc. on YouTube.</li>
            <li>Partnered with some of the largest broadcast networks like Sony, India Today, Zee, Network 18 and India
                TV to make their content digital ready.</li>
            <!-- <li>Built one of the largest multi-channel networks on YouTube with over 25 million subscribers 
            </li>
        <li>Partnered with some of the largest broadcast networks like Sony, India Today, Zee, Network 18 and India TV to make their content digital ready.
            </li> -->
        </ul>
        <p>Eighteen years and 4 companies later, its time for us to consolidate. The enriched avatar of Pepper Media,
            which brings together the best of two companies – India Syndicate and Pepper Media, with a 150 + member
            team, will marry brand solutions with an array of video services.</p>
    </div>
    <div class="col-md-3">
        <img class="img-responsive" src="assets/img/media2.jfif">
    </div>
    <div class="col-md-3">
        <img class="img-responsive media3" src="assets/img/media3.jfif">
    </div>
</div>

</html>