.row{
    padding: 20px !important;
}
.section{
    padding: 20px !important;
     h2{  
        color: #9a0012;
        text-align: center;
        font-size: 30px;
     }
    }
    .img-responsive{
        padding: 20px !important;
    }
    .media3{
            position: relative;
            top: 153px;
    }
    